header {
    height: 100px;
    width: 100%;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 10;
  }


.main-header {
    line-height: 15px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background: rgb(255, 255, 255);
    color: rgb(55, 53, 53);
    font-size: small
  }


  section {
    width: 60%;
    margin: 20px auto;
   flex-wrap: wrap;
  }

  .about-me-content {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    gap: 10px;
    margin-bottom: 100px;
  }


.my-work-section {
    position: relative;
    align-items: center;
    text-align: center;
    padding: 50px;
    height: 300px;
}

  h3 {
    flex-wrap: wrap;
    top: 220px
  }

  .my-work-section-2 {
    position: relative;
    align-items: center;
    text-align: center;
}

  h3 {
    flex-wrap: wrap;
    top: 220px
  }
    
footer {
    font-size: 15px;
    padding: 30px;
    clear: both;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    background-color: #434343;
    color: #ffffff;
}
