header {
    height: 100px;
    width: 100%;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 10;
  }


.main-header {
    line-height: 15px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background: rgb(255, 255, 255);
    color: rgb(55, 53, 53);
    font-size: small
  }


  section {
    width: 60%;
    margin: 20px auto;
   flex-wrap: wrap;
  }

  .about-me-content {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    gap: 10px;
    margin-bottom: 100px;
  }


.my-work-section {
    position: relative;
    align-items: center;
    text-align: center;
    padding: 50px;
    height: 300px;
    display: flex;
}

.text-block {
    position: absolute;
    bottom: 60px;
    right: 100px;
    background-color: rgb(252, 70, 70);
    color: rgb(0, 0, 0);
    padding-left: 20px;
    padding-right: 20px;
  }

  .my-work-section-2 {
    position: relative;
    align-items: center;
    text-align: center;
    padding: 50px;
    height: 300px;
    display: flex;
}
footer {
    font-size: 15px;
    padding: 30px;
    clear: both;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    background-color: #434343;
    color: #ffffff;
}

/* @media screen and (min-width: 769px) {
    .my-work-section-2 {
        width: 100%
    }
} */